:root {
  --primaryColor: #20b48d;
  --UiLightColor: white;
  --UiMediumColor: #eaeeef;
  --UiDarkColor: #626262;
  --UiDarkerColor: #454545;
  --UiDarkestColor: #292828;
  --btnPrimaryColor: var(--primaryColor);
  --btnHoverColor: #272727;
  --navbarHeight: 65px;
  --btnActiveColor: #00ffb3;
  --btnPrimaryFontColor: white;
  --heartColor: #fb7272;
  /* --colorDashPurchases: rgb(255, 105, 162); */
  --colorDashPurchases: rgb(255, 105, 115);
  --colorDashSales: rgb(105, 195, 255);
  --textColorDashCard: "#ffffff";
}

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.landing-main { 
  /* background-color: #00ffb3; */
  height: 95vh;
  width: 95vw;
  display: flex;
  margin: auto;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}

.landing-container > p {
  color:var(--primaryColor);
  font-weight: 700;
  margin: 15px;
  text-align: center;
}

.landing-img {
  max-width: 230px;
  margin: 1rem
}

.Disponible,
.Vendido,
.Reservado {
  border-radius: 5px;
  padding: 0.3rem;
  background-color: #00b97c;
  color: white;
  font-weight: 600;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.Vendido {
  background-color: rgb(201, 15, 15);
}
.Reservado {
  background-color: rgb(221, 152, 24);
}

.nothingFound {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--primaryColor);
  text-align: center;
}

.Items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-top: 1rem;
}

.Item {
  padding: 20px 0;
  width: 30%;
  transition: box-shadow, 0.4s, ease-in-out;
  border-radius: 3px;
}
@media (max-width: 1050px) {
  background #fff,
  .Item {
    width: 48%;
  }
}
@media (max-width: 550px) {
  background #fff,
  .Item {
    width: 100%;
    margin: auto;
  }
}

/* ----- Back to Top ----- */

.back-to-top,
.back-to-back {
  border-style: none;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  background-color: var(--primaryColor);
  border-radius: 50%;
  z-index: 10;
  transition: all 0.4s;
}

.back-to-back {
  transform: rotate(270deg);
  position: fixed;
  top: 80px;
  left: 1rem;
  height: 3rem;
  width: 3rem;
}

.back-to-top:hover,
.back-to-back:hover {
  box-shadow: -2px 1px 54px 5px rgba(12, 214, 148, 0.75);
  -webkit-box-shadow: -2px 1px 54px 5px rgba(12, 214, 148, 0.75);
  -moz-box-shadow: -2px 1px 54px 5px rgba(12, 214, 148, 0.75);
}

.back-to-top__image,
.back-to-back__image {
  height: 70%;
}

.back-to-top.zoom-in {
  animation: zoom-in 500ms ease-in-out;
}

@keyframes zoom-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.back-to-top.zoom-out {
  animation: zoom-out 500ms ease-in-out;
}

@keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}


.whatsapp_logo {
  border-style: none;
  position: fixed;
  top: 80px;
  left: 5rem;
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  transition: 300ms;
  z-index: 1;
}

.whatsapp_logo:hover {
  scale: 1.2;
}

@media (max-width: 600px) {
  background #fff,
  .whatsapp_logo {
    margin-right: 1rem;
  }
}

.carouselContainer {
  /* max-width: 700px; */
  display: flex;
  flex-direction: row;
  margin: auto;
}

.carouselContainer > * {
  padding: 1rem;
}
.descriptionContainer > h2, h3 {
  text-decoration: none;
  font-weight: 500;
}

.descriptionContainer > p {
  max-width: 700px;
}

#productDescription {
  white-space: pre-wrap;
}

@media (max-width: 800px) {
  .carouselContainer {
    max-width: 700px;
    flex-direction: column;
    margin: auto;
  }
}

.carousel-root {
  max-width: 600px;
}
.react-carousel-slide {
  height: 100%;
  display: flex
}
.image-wrapper {
  /* max-width: 400px; */
  margin: auto;
}
.image-wrapper > img {
  /* max-width: 450px; */
  object-fit: contain;
  max-height: 400px;
  border-radius: 4px;
}
/* @media (max-width: 600px) {
  .image-wrapper > img {
    max-width: 300px;
  }
} */

.productDetailContainer {
  margin-top: 70px;
}

.categoryHolder {
  display: flex;
  flex-direction: row;
}

.categoryLabel {
  background-color: #999898;
  padding: 5px;
  margin: 0.2rem;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
}
